## Data Types

In [1]:
## Integer Example
age = 35
type(age)

int

In [2]:
## floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
## string datatype example
name = "Awanish"
print(name)
print(type(name))

Awanish
<class 'str'>

In [6]:
## boolean datatype
type(True)
is_true=True
type(is_true)

bool

In [7]:
a=10
b=10
type(a==b)
a==b

True

In [8]:
## common errors

result="Hello" +5

TypeError: can only concatenate str (not "int") to str

In [ ]:
result="Hello" + str(5)  # or result="Hello" + "5"
print(result)

Hello5

In [ ]:
str="Hello"
str

Hello5