Input Operation

In [1]:
# Taking User Input with input()
# Simple string input

name = input("Enter your name: ")
print("Hello,", name)

Hello, Raj

In [2]:
# Converting Input to Integer with int()
# Taking numeric input and using it in a calculation

age = int(input("Enter your age: "))
print("Next year, you'll be", age + 1)

Next year, you'll be 26

In [3]:
# Converting Input to Float with float()
# Accepting float input

height = float(input("Enter your height in meters: "))
print("Your height in centimeters is:", height * 100)

Your height in centimeters is: 2350.0

In [4]:
# Taking Multiple Inputs
# Accepting multiple inputs separately
name = input("Enter your name: ")
city = input("Enter your city: ")
print(name, "lives in", city)

Raj lives in Chennai

Output Operation

In [5]:
# Basic Console Output using print()

print("Hello, World!")

# Using Multiple Items in print()

print("Akash", 25, "Python")

Hello, World!
Akash 25 Python

In [9]:
# Using sep to Change Separator

print("Akash", 25, "Python", sep=", ")

Akash, 25, Python

In [11]:
# Using end to Control Line End

print("Processing...", end="\n")
print("Done!")

Processing...
Done!

In [12]:
# Using print() with Lists or Variables

languages = ["Python", "Java", "C++"]
print("Popular languages:", languages)

Popular languages: ['Python', 'Java', 'C++']

In [13]:
# Formatted Print

name = "Bharti"
age = 30
print(f"{name} is {age} years old.")

Bharti is 30 years old.

In [14]:
# calculator

a = int(input("Enter First number: "))
b = int(input("Enter second number: "))

add = a+b
sub = a-b
mult = a*b
div = a/b
floor_div = a//b
mod = a%b
exp = a**b

print("Addition = ",add)
print("Subtraction = ",sub)
print("Multiplication = ",mult)
print("Division = ",div)
print("Floor Division = ",floor_div)
print("Modulus = ",mod)
print("Exponentiation = ",exp)

Addition =  15
Subtraction =  -5
Multiplication =  50
Division =  0.5
Floor Division =  0
Modulus =  5
Exponentiation =  9765625