## Pandas

In [5]:
# installation of pandas
# pip install pandas

In [6]:
# check pandas version
import pandas as pd

print(pd.__version__)

2.3.0+4.g1dfc98e16a

In [7]:
import pandas as pd

mydataset = {'cars':["BMW","VOLVO","FORD"],'passings':[2,4,7]}

myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         2
1  VOLVO         4
2   FORD         7

In [8]:
myvar

    cars  passings
0    BMW         2
1  VOLVO         4
2   FORD         7

In [10]:
data = {
    'fruits':["Apple","Banana","Orange"],
    'quantity':[5,12,8]
}

fruit_df = pd.DataFrame(data)
#print(fruit_df)
fruit_df

   fruits  quantity
0   Apple         5
1  Banana        12
2  Orange         8

## Pandas Series

In [11]:
# Creating an Empty Series
import pandas as pd

ser = pd.Series()
print(ser)

Series([], dtype: object)

In [12]:
import numpy as np
import pandas as pd

data = np.array(['P','y','t','h','o','n'])

ser = pd.Series(data)
print(ser)

0    P
1    y
2    t
3    h
4    o
5    n
dtype: object

In [13]:
# from the list

data_list = [23,5,6,12,7]

ser = pd.Series(data_list)
print(ser)

0    23
1     5
2     6
3    12
4     7
dtype: int64

In [14]:
# from a dictionary
data_dict = {'Name':'Raj','Age':25,'Gender':'Male'}
ser = pd.Series(data_dict)
print(ser)

Name       Raj
Age         25
Gender    Male
dtype: object

In [15]:
# using range()

ser = pd.Series(range(2,20))
print(ser)

0      2
1      3
2      4
3      5
4      6
5      7
6      8
7      9
8     10
9     11
10    12
11    13
12    14
13    15
14    16
15    17
16    18
17    19
dtype: int64

In [16]:
# using list comprehension

ser = pd.Series(range(1,20,3), index=[x for x in 'abcdefg'])
print(ser)

a     1
b     4
c     7
d    10
e    13
f    16
g    19
dtype: int64

In [19]:
# Accessing elements

a = [3,5,7,9,4]
ser = pd.Series(a)
print(ser)

0    3
1    5
2    7
3    9
4    4
dtype: int64

In [20]:
# using labels
print(ser[2])
print(ser[4])

7
4

In [21]:
# create labels
ser = pd.Series(a, index=["A","B","C","D","E"])
print(ser)

A    3
B    5
C    7
D    9
E    4
dtype: int64

### Binary Operations on Pandas Series

In [28]:
# 1. Arithmetic operations

s1 = pd.Series([10,20,30], index=['a','b','c'])
s2 = pd.Series([2,4,6], index=['a','b','c'])

# add 
add = s1 + s2
mult = s1 * s2
sub = s1 - s2
div = s1 / s2

print(add)
print(mult)
print(sub)
print(div)

a    12
b    24
c    36
dtype: int64
a     20
b     80
c    180
dtype: int64
a     8
b    16
c    24
dtype: int64
a    5.0
b    5.0
c    5.0
dtype: float64

In [26]:
# 2. Comparison Operations

s1 = pd.Series([11,34,67])
s2 = pd.Series([11,45,34])

equal = s1 == s2
greater = s1 > s2
less = s1 < s2

print(equal)
print(greater)
print(less)

0     True
1    False
2    False
dtype: bool
0    False
1    False
2     True
dtype: bool
0    False
1     True
2    False
dtype: bool

In [31]:
# 3. Logical AND on Series
s1 = pd.Series([True,False,True])
s2 = pd.Series([False,False,True])

res = s1 & s2
print(res)

0    False
1    False
2     True
dtype: bool

### Pandas Series Index Attribute

In [42]:
data = pd.Series([10,20,30,40], index=['a','b','c','d'])

print("Original Index: ",data.index)

# modify the index
data.index= ['W','X','Y','Z']
print("Modified Series: \n",data)

Original Index:  Index(['a', 'b', 'c', 'd'], dtype='object')
Modified Series:
 W    10
X    20
Y    30
Z    40
dtype: int64

In [44]:
# change the specific index with rename()
data = pd.Series([10,20,30,40], index=['a','b','c','d'])
data1 = data.rename(index={'b':'X'})
print("Modified Series: \n",data1)

Modified Series:
 a    10
X    20
c    30
d    40
dtype: int64

In [38]:
# assinging duplicate index labels

ser = pd.Series(['Mumbai','Delhi','Chennai','Bangalore','Bihar'], index= ['City 1','City 1', 'City 3', 'City 3', 'City 2'])
print(ser)

City 1       Mumbai
City 1        Delhi
City 3      Chennai
City 3    Bangalore
City 2        Bihar
dtype: object