## Detect Mixed Data Types and Fix it

In [1]:
import pandas as pd

data_frame = pd.DataFrame(
    [
        ['Laptop','5'],
        ['Mouse',10],
        ['Keyboard', 7.5],
        ['Monitor', 'two']
    ], columns= ['Item', 'Quantity']
)

for column in data_frame.columns:
    print(f"Column '{column}' data type: {pd.api.types.infer_dtype(data_frame[column])}")

print("\n DataFrame: ")
data_frame

Column 'Item' data type: string
Column 'Quantity' data type: mixed-integer

 DataFrame:

       Item Quantity
0    Laptop        5
1     Mouse       10
2  Keyboard      7.5
3   Monitor      two

In [2]:
# fix mixed datatype using astype()
data_frame['Quantity'] = pd.to_numeric(data_frame['Quantity'], errors='coerce').astype(float)

for column in data_frame.columns:
    print(f"Column '{column}' data type: {pd.api.types.infer_dtype(data_frame[column])}")

print("\nDataFrame after fixing mixed types: ")
data_frame

Column 'Item' data type: string
Column 'Quantity' data type: floating

DataFrame after fixing mixed types:

       Item  Quantity
0    Laptop       5.0
1     Mouse      10.0
2  Keyboard       7.5
3   Monitor       NaN

In [4]:
# fix mixed data types using to_numeric()

data_frame = pd.DataFrame(
    [
        ['Apple','2.99'],
        ['Banana',1.50],
        ['Orange','three'],
        ['Mango', 4.25]
    ], columns= ['Fruit', 'Price']
)

data_frame['Price'] = pd.to_numeric(data_frame['Price'], errors='coerce')

for column in data_frame.columns:
    print(f"Column'{column}' datatypes: {pd.api.types.infer_dtype(data_frame[column])} ")

print("\nDataFrame after fixing mixed types: ")
data_frame

Column'Fruit' datatypes: string
Column'Price' datatypes: floating

DataFrame after fixing mixed types:

    Fruit  Price
0   Apple   2.99
1  Banana   1.50
2  Orange    NaN
3   Mango   4.25