## Data Correlations

In [1]:
import pandas as pd
df = {
    "Array_1": [30,70,100],
    "Array_2": [65.1,49.50,30.7]
}

data = pd.DataFrame(df)
print(data.corr())

          Array_1   Array_2
Array_1  1.000000 -0.990773
Array_2 -0.990773  1.000000

In [2]:
df = pd.read_csv("nba.csv")
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Find correlation among the columns 
numeric_cols = ['Age','Weight','Number','Salary']
numeric_data = df[numeric_cols]

print("Person Correlation Matrix: ")
pearson_corr = numeric_data.corr(method='pearson')
pearson_corr

Person Correlation Matrix:

             Age    Weight    Number    Salary
Age     1.000000  0.087183  0.028724  0.213459
Weight  0.087183  1.000000  0.206921  0.138321
Number  0.028724  0.206921  1.000000 -0.112386
Salary  0.213459  0.138321 -0.112386  1.000000

In [4]:
print("\nSpearman Correlation Matrix: ")
spearman_corr = numeric_data.corr(method='spearman')
spearman_corr

Spearman Correlation Matrix:

             Age    Weight    Number    Salary
Age     1.000000  0.096163  0.008490  0.266299
Weight  0.096163  1.000000  0.226084  0.127628
Number  0.008490  0.226084  1.000000 -0.114683
Salary  0.266299  0.127628 -0.114683  1.000000

In [5]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in /Users/awanishraj/Library/Python/3.9/lib/python/site-packages (1.13.1)
Requirement already satisfied: numpy<2.3,>=1.22.4 in /Users/awanishraj/Library/Python/3.9/lib/python/site-packages (from scipy) (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
print("\nKendall Correlation Matrix: ")
kendall_corr = numeric_data.corr(method='kendall')
kendall_corr

Kendall Correlation Matrix:

             Age    Weight    Number    Salary
Age     1.000000  0.066130  0.005536  0.172616
Weight  0.066130  1.000000  0.155850  0.087165
Number  0.005536  0.155850  1.000000 -0.075301
Salary  0.172616  0.087165 -0.075301  1.000000